.spacer{
    flex: 1 1 auto;
}

.logo{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.vertical-navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8em;
  height: 100%;
  background:  #19171a; 
  padding: 16px 0;
  z-index: 1000;
}
.vertical-navbar a {
  color: #fff;
  margin: 8px 0;
  text-align: left;
  
}

.vertical-navbar .big-icon,
.vertical-navbar mat-icon {
  color: #fff ;
}


.btn-navbar{
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  justify-content: center;
  text-align: center;
}

.vertical-navbar a:hover {
  transition: 0.2s ease;
  
}

.big-icon {
transform: scale(1.5);
}



