.spacer{
    flex: 1 1 auto;
}

.logo{
    font-size: 1.2rem;
    font-weight: bold;
}

.vertical-navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 8em;
  height: 100%;
  background:  #19171a; 
  padding: 16px 0;
  z-index: 1000;
}
.vertical-navbar a {
  color: #fff;
  margin: 8px 0;
  text-align: left;
}

.big-icon {
font-size: 36em;
}



