<app-navbar></app-navbar>

<div class="main-container">
<app-carousel
  [movies]="movies"
  [currentSlide]="currentSlide"
  (slideChange)="onSlideChanged($event)">
</app-carousel>

 <app-genreslist (genreSelected)="onGenreSelected($event)"></app-genreslist>

  <div class="container">
<app-movies-grid
  [movies]="movies"
  [loadMoreOnScroll]="true"
  (loadMore)="loadMoreMovies()"
  [title]="titleFilmesEmAlta">
</app-movies-grid>

<app-movies-grid
  [movies]="upmovies"
  [loadMoreOnScroll]="true"
  (loadMore)="loadMoreMovies()"
  [title]="titleProximosLancamentos">
</app-movies-grid>

  </div>
</div>
