.title {
    color: white;
    margin-left: 3em;
    background-color: #19171a;
}

.genre-buttons {
  padding: 0 1.2em;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  background-color: #19171a;
}

.genre-buttons button {
  background-color: #262327;
  color: white;
  width: 10em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 18px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);
}

.genre-buttons button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.3);
  transition: 0.2s ease;
}

.genre-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(102, 102, 102);
}

.container{
    background-color: #19171a;
    padding: 0.5em;
}
