<div class="container" *ngIf="movie">
  <div
    class="backdrop"
    [style.backgroundImage]="
      'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
    ">
    <div class="backdrop-overlay"></div>
  </div>

  <div class="content">
    <div class="movie-info">
      <div class="poster">
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          [alt]="movie.title"
        />
      </div>

      <div class="details">
        <h1>{{ movie.title }}</h1>
        <p>{{ titleDataLancamento }}: {{ movie.release_date | date: 'dd/MM/yyyy' }}</p>

        <div class="meta">
          <mat-chip-set>
            <mat-chip>{{ genresList }}</mat-chip>
            <mat-chip>{{ titleNota }}: {{ movie.vote_average }}</mat-chip>
          </mat-chip-set>
        </div>

<div class="overview" *ngIf="movie?.overview && movie.overview.trim().length > 0">
  <h3>{{ titleSinopse }}</h3>
  <p>{{ movie.overview }}</p>
</div>


      </div>
    </div>
  </div>
</div>
